<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CommonTests.Properties.MySqlSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="CommonTests.Properties.SendMailSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="CommonTests.Properties.SQLServerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="CommonTests.Properties.JsonSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="CommonTests.Properties.NotificationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="CommonTests.Properties.SendMail" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="CommonTests.Properties.LogSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="CommonTests.Properties.IO" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="CommonTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CommonTests.Properties.MySqlSettings>
            <setting name="Server" serializeAs="String">
                <value>xxx.xxx.xxx.xxx</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>TestUser</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>TestPassword</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>Test</value>
            </setting>
        </CommonTests.Properties.MySqlSettings>
        <CommonTests.Properties.SendMailSettings>
            <setting name="SendGridApiKey" serializeAs="String">
                <value/>
            </setting>
            <setting name="SmtpServer" serializeAs="String">
                <value/>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Subject" serializeAs="String">
                <value>Test Subject</value>
            </setting>
            <setting name="Body" serializeAs="String">
                <value>Test Body</value>
            </setting>
            <setting name="From" serializeAs="String">
                <value/>
            </setting>
            <setting name="FromName" serializeAs="String">
                <value>From</value>
            </setting>
            <setting name="To" serializeAs="String">
                <value/>
            </setting>
            <setting name="ToName" serializeAs="String">
                <value>To</value>
            </setting>
            <setting name="Cc" serializeAs="String">
                <value/>
            </setting>
            <setting name="CcName" serializeAs="String">
                <value>Cc</value>
            </setting>
            <setting name="Bcc" serializeAs="String">
                <value/>
            </setting>
            <setting name="BccName" serializeAs="String">
                <value>Bcc</value>
            </setting>
            <setting name="AttachmentPath_1" serializeAs="String">
                <value>..\..\Attachment\Attachment.txt</value>
            </setting>
            <setting name="AttachmentPath_2" serializeAs="String">
                <value>..\..\Attachment\Attachment.md</value>
            </setting>
            <setting name="AttachmentPath_3" serializeAs="String">
                <value>..\..\Attachment\Attachment.cs</value>
            </setting>
        </CommonTests.Properties.SendMailSettings>
        <CommonTests.Properties.SQLServerSettings>
            <setting name="SqlServerName" serializeAs="String">
                <value>(local)\SQL2014</value>
            </setting>
            <setting name="SqlServerUser" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="SqlServerPw" serializeAs="String">
                <value>Password12!</value>
            </setting>
            <setting name="AppveyorSqlServerName" serializeAs="String">
                <value>(local)\\SQL2014</value>
            </setting>
            <setting name="AppveyorSqlServerUser" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="AppveyorSqlServerPw" serializeAs="String">
                <value>Password12!</value>
            </setting>
            <setting name="AppveyorBuildEnv" serializeAs="String">
                <value>74.205.54.20,104.197.110.30,104.197.145.181,146.148.85.29,67.225.139.254,67.225.138.82,67.225.139.144</value>
            </setting>
        </CommonTests.Properties.SQLServerSettings>
        <CommonTests.Properties.JsonSettings>
            <setting name="JsonUrl" serializeAs="String">
                <value>http://weather.livedoor.com/forecast/webservice/json/v1?city=400040</value>
            </setting>
        </CommonTests.Properties.JsonSettings>
        <CommonTests.Properties.NotificationSettings>
            <setting name="NotificationAppID" serializeAs="String">
                <value>{D65231B0-B2F1-4857-A4CE-A8E7C6EA7D27}\WindowsPowerShell\v1.0\powershell.exe</value>
            </setting>
            <setting name="NotificationIconPath" serializeAs="String">
                <value>..\..\img\favicon.ico</value>
            </setting>
        </CommonTests.Properties.NotificationSettings>
        <CommonTests.Properties.SendMail>
            <setting name="SendGridApiKey" serializeAs="String">
                <value/>
            </setting>
            <setting name="SendGridSendToAddress" serializeAs="String">
                <value/>
            </setting>
            <setting name="SendGridSendToName" serializeAs="String">
                <value/>
            </setting>
            <setting name="SendGridSubject" serializeAs="String">
                <value>Test Mail Subject</value>
            </setting>
            <setting name="SendGridBody" serializeAs="String">
                <value>Test Mail Body\n</value>
            </setting>
        </CommonTests.Properties.SendMail>
        <CommonTests.Properties.LogSettings>
            <setting name="LogFilePath" serializeAs="String">
                <value>.\Log</value>
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value>LogTest.log</value>
            </setting>
            <setting name="ExFilePath" serializeAs="String">
                <value>.\ExTest</value>
            </setting>
            <setting name="ExFileName" serializeAs="String">
                <value>ErrorTest.log</value>
            </setting>
        </CommonTests.Properties.LogSettings>
        <CommonTests.Properties.IO>
            <setting name="IODirectoryPath" serializeAs="String">
                <value>.\IOTest</value>
            </setting>
            <setting name="IOFilePath" serializeAs="String">
                <value>.\IOTest</value>
            </setting>
            <setting name="IOFileName" serializeAs="String">
                <value>IOTest.txt</value>
            </setting>
            <setting name="IODirectoryPathExt" serializeAs="String">
                <value>.\IOTest\</value>
            </setting>
        </CommonTests.Properties.IO>
        <CommonTests.Properties.Settings>
            <setting name="SmtpServer" serializeAs="String">
                <value/>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>0</value>
            </setting>
        </CommonTests.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
