<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Common.Properties.Settings>
            <setting name="LogFilePath" serializeAs="String">
                <value>.log</value>
            </setting>
            <setting name="SqlServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlServerCatalog" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlServerUser" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlServerPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="設定" serializeAs="String">
                <value />
            </setting>
        </Common.Properties.Settings>
    </applicationSettings>
</configuration>